<nav class="nav">
  <div class="container">
    <div class="nav-left">
      <a href="/"><img src="assets/bs.png" alt="" class="nav-logo" /></a>
    </div>

    <div class="nav-right nav-menu">
      <a href="#purchase" class="nav-item anchor-scroll" data-scroll-to="#purchase">Purchase</a>
      <a href="#downloads" class="nav-item anchor-scroll" data-scroll-to="#downloads">Downloads</a>
      <a href="#recent-snipes" class="nav-item anchor-scroll" data-scroll-to="#recent-snipes">Recent Snipes</a>
    </div>
  </div>
</nav>
