<nav class="nav">
  <div class="container">
    <div class="nav-left">
      <a href="/"><img src="/assets/bs.png" alt="BetaSniper Logo" class="nav-logo" /></a>
    </div>

    <div class="nav-right nav-menu">
      <a href="#" class="nav-item">Purchase</a>
      <a href="#" class="nav-item">Downloads</a>
      <a href="#" class="nav-item">Recent Snipes</a>
    </div>
  </div>
</nav>
